
.container-fluid{
    background-image: url("https://zakupka.com/imgp/RHFsJ8IR-BPwnj4_zVcR5bdjoF8rg1gRKf0nhV-NWuaaAQfY-JCdl-q0dHFVTnKsxGX_2hTher5TlNTz9CgMJTQK3OCIP79Wr1wqBIpDfDE=");
   object-fit: cover !important;
   object-position: center !important;
   width: 100%;
   height: 120vh !important;
   background-size: cover;

   
}
/*----------------scroll-bar----------------------*/


body {
    --sb-track-color: #f6fbfd;
    --sb-thumb-color: #161716;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 2px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 2px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
